/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 17, 2015, 11:34:44 PM
    Author     : Krat
*/
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
body {
  width: 100%;
  background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/grid.png) repeat #fefefe;
}

.modalbg {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 110, 0, 0);
  
  border: #000000;
  border-width: 10px;
  z-index: 99999;
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
  display: block;
  pointer-events: none;  
}
.modalbg .dialog {
  width: 95%;
  height: 93%;
  position: relative;
  top: -1000px;
  margin: 3% auto;
  padding: 5px 20px 13px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: #000000;
  background: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.87), rgb(183, 180, 218));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.87), rgb(183, 180, 218));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.87), rgb(183, 180, 218));
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
}
.modalbg .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);
}
.modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(239, 232, 232, 0.51);
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.modalbg:target .dialog {
  top: -20px;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -transition-delay: 0.3s;
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 30px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
  width: 34px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -transition-delay: 0.1s;
  z-index: 100;
}
.close .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);
}
.close:hover {
  background: #00d9ff;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.fineprint {
  font-style: italic;
  font-size: 10px;
  color: #646;
}
a {
  color: #333;
  text-decoration: none;
}

#t1 {
    -moz-tab-size: 4; /* Code for Firefox */
    -o-tab-size: 4; /* Code for Opera 10.6-12.1 */
    tab-size: 4;
    font-size:  25px;
    
    height: 126px;
    background: #AF2828;
}

#t2 {
    -moz-tab-size: 5; /* Code for Firefox */
    -o-tab-size: 5; /* Code for Opera 10.6-12.1 */
    tab-size: 5;
    font-size:  15px;  
    background: rgba(239, 232, 232, 0);
    border: #000000;
    color: #5212B2;
    height: 30px;
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 1px;
    
}
#t3 {
    -moz-tab-size: 5; /* Code for Firefox */
    -o-tab-size: 5; /* Code for Opera 10.6-12.1 */
    tab-size: 5;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: #000000;
    font-size:  15px;  
    background: rgba(239, 232, 232, 0);    
    color: black;
}
#t4 {
    -moz-tab-size: 5; /* Code for Firefox */
    -o-tab-size: 5; /* Code for Opera 10.6-12.1 */
    tab-size: 5;
    height: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: #000000;
    font-size:  15px;  
    background: rgba(239, 232, 232, 0);    
    color: black;
}
#t6 {
    -moz-tab-size: 5; /* Code for Firefox */
    -o-tab-size: 5; /* Code for Opera 10.6-12.1 */
    tab-size: 5;
    height: 115px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: #000000;
    font-size:  15px;  
    background: rgba(239, 232, 232, 0);    
    color: black;
}
#t5 {
    -moz-tab-size: 5; /* Code for Firefox */
    -o-tab-size: 5; /* Code for Opera 10.6-12.1 */
    tab-size: 5;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: #000000;
    font-size:  20px;  
    background: rgba(239, 232, 232, 0);    
    color: black;
}
#hyperlink{
    -moz-tab-size: 5; /* Code for Firefox */
    -o-tab-size: 5; /* Code for Opera 10.6-12.1 */
    tab-size: 5;
    height: 28px;    
    padding-top: 0px;
    padding-bottom: 0px;
    border: #000000;
    font-size:  20px;  
    background: rgba(239, 232, 232, 0);    
    color: blue;
    
}