<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Rentingbook.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ConnectionString2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Buyingbook.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ConnectionString3" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Donations.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Login" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Login.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FindRoom" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\findr.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FindRoomMate" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\findrm.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Event" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Event.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms loginUrl="index.aspx" defaultUrl="index.aspx">
      </forms>
    </authentication>
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
